@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html, body { 
  min-height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.668);
  z-index: -1;
}

body {
  background-image: url('./images/GamerScape Background.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  margin-left: 0px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 70px;
}

#app-title {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 60px;
  padding-top: 50px;
  color: transparent;
  -webkit-text-stroke: 2px rgba(199, 65, 7, 0.484);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f0f0f0;
  padding: 20px 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  font-size: 1.5em;
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

nav a:hover {
  color: #0672ee;
}

#games-list-title{
  margin-bottom: 60px;
}

.create-game-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}

.create-game-button {
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.694); 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-game-button:hover {
  background-color: rgba(43, 41, 41, 0.7);
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.game-info-container {
  background-color: #000000bf;
  padding: 10px;
  margin-top: -10px;
  width: 100%;
}

.game-card {
  max-width: 350px;
  max-height: 450px;
  min-width: 350px;
  min-height: 450px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 300px;
  position: relative;
}

.game-title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.game-image {
  max-width: 350px;
  max-height: 450px;
  min-width: 350px;
  min-height: 450px;
  width: 100%;
  height: auto;
}

.game-placeholder {
  max-width: 350px;
  max-height: 450px;
  min-width: 350px;
  min-height: 450px;
  width: 100%;
  height: auto;
  background-color: rgb(44, 42, 42);
  color: white;
  font-size: 1.5em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #938787;
  margin-bottom: 5px;
  text-align: left;
}

.info-text {
  color: #c0c4c8;
}

.review-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 10px;

}

.review-input::placeholder {
  color: #ccc;
}

.review-input:focus {
  background-color: rgba(0, 0, 0, 0.7);
}

.review-info-section {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #938787;
  margin-bottom: 5px;
  border-bottom: 2px solid #d0bcbc;
  text-align: center;
}

.review-textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
  resize: vertical;
  width: 300%;
  height: 200px;
  text-align: left;
}

.edit-review-textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
  resize: vertical;
  width: 40%;
  height: 200px;
  text-align: left;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.review-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-submit-button {
  font-size: 20px;
  padding: 13px 25px;
  border: none;
  border-radius: 8px;
  background-color: rgba(64, 63, 63, 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 90px;
}

.review-submit-button:hover {
  background-color: rgba(19, 19, 19, 0.7);
}

.review-submit-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

#login-container {
  border: 4px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  backdrop-filter: blur(5px);
  max-width: 640px;
  margin: auto;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  color: rgb(192, 58, 13);
}

#login-container input {
  opacity: 0.8; 
  background-color: rgba(7, 7, 7, 0.8);
  margin: 5px 0;
  padding: 5px;
  border-radius: 15px;
}

#login-title{
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
  font-size: 60px;
  position: relative;
  top: -35px;
}

#login-button{
  font-size: 23px;
  background-color: #d84b05;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 1em;
  padding: 10px 10px;
  border: 2px solid;
  border-color: #f30602;
  color: rgb(7, 7, 7);
}

#login-button:hover {
  background-color: rgb(121, 39, 14);
  transform: scale(1.05);
  cursor: pointer;
}

#login-button:active {
  background-color: #2a2c2e;
  transform: scale(1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#signup-text{
  font-size: 17px;
  text-decoration: none;
}

#signup-container {
  border: 4px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  backdrop-filter: blur(5px);
  max-width: 600px;
  margin: auto;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  color: rgb(157, 152, 233);
  font-weight: bold;
}

#signup-container input {
  opacity: 0.8; 
  background-color: rgba(7, 7, 7, 0.8);
  margin: 5px 0;
  padding: 5px;
}

#signup-title {
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
  font-size: 60px;
  position: relative;
  top: -35px;
  color: #dcdddc;
}

#signup-button {
  font-size: 23px;
  background-color: #5f5c5a;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 1em;
  padding: 10px 10px;
  border: 2px solid;
  border-color: #000000;
}

#signup-button:hover {
  background-color: rgb(25, 23, 23);
  transform: scale(1.05);
  cursor: pointer;
}

#signup-button:active {
  background-color: #2a2c2e;
  transform: scale(1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#error-message {
  color: red;
  font-size: 14px;
}

.signup-text {
  color: #643709;
  font-size: 0.6em;
}

.see-more-button {
  font-size: 23px;
  margin-top: 15px;
  border-radius: 7px;
  font-size: 1em;
  padding: 10px 10px;
  border: 2px solid;
  color: #000000;
  cursor: pointer;
}

#see-more-game-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-more-game-details-container {
  width: 80%;
  background-color: #11101bcf;
  padding: 50px;
  margin: 30px;
  margin-bottom: 100px;
}

.see-more-game-info-container {
  display: flex;
  align-items: flex-start;
}

.see-more-game-image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.see-more-game-image-details {
  max-width: 450px;
  max-height: 550px;
  min-width: 450px;
  min-height: 550px;
}

.see-more-game-info {
  flex: 1;
  color: #2d6fa9;
}

.see-more-game-title-details {
  font-size: 50px;
  margin-bottom: 10px;
}

.see-more-game-info p {
  margin-bottom: 5px;
}

#review-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -20px;
}

#review-button button {
  margin-left: 15px;
  font-size: 1.2em;
  background-color: #2c3e50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

#review-button button:hover {
  background-color: #34495e;
}

.screenshot-gallery {
  width: 100%;
  padding: 20px;
}

.gallery {
  overflow: hidden;
  position: relative;
}

.gallery-inner {
  display: flex;
  justify-content: center;
}

.screenshot-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.screenshot {
  max-width: 100%;
  height: auto;
  width: 600px;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  background-color: rgba(114, 108, 108, 0.496);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-buttons button:hover {
  background-color: rgba(36, 28, 28, 0.5);
}

.nav-buttons button:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-field {
  margin-right: 8px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-field::placeholder {
  color: #ccc;
}

.search-field:focus {
  background-color: rgba(0, 0, 0, 0.7);
}

.search-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.694); 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgba(43, 41, 41, 0.7);
}

.search-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.create-game-form {
  border: 4px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  backdrop-filter: blur(5px);
  max-width: 640px;
  margin: auto;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  color: rgb(68, 209, 13);
  margin-bottom: 70px;
}

.form-input {
  font-size: 20px;
  opacity: 0.8; 
  background-color: rgba(7, 7, 7, 0.8);
  margin: 5px 0;
  padding: 5px;
  border-radius: 15px;
}

.form-label {
  font-size: 23px;

}

.create-text-input {
  opacity: 0.8; 
  background-color: rgba(7, 7, 7, 0.8);
  margin: 5px 0;
  padding: 5px;
  border-radius: 15px;
  font-size: 23px;
  width: 400px;
  height: 100px;
  margin-top: 20px;
}

.form-input[type="text"],
.form-textarea {
  padding: 5px;
  width: 350px;
  height: 40px;
}

.form-button {
  font-size: 23px;
  background-color: rgb(81, 218, 27);
  margin-top: 15px;
  border-radius: 15px;
  font-size: 1em;
  padding: 10px 10px;
  border: none;
  color: rgb(7, 7, 7);
}

.form-button:hover {
  background-color: rgb(3, 74, 6);
  transform: scale(1.05);
  cursor: pointer;
}

.leave-review-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
}

.leave-review-button button {
  margin-left: 15px;
  font-size: 1.2em;
  background-color: #2c3e50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.leave-review-button button:hover {
  background-color: #34495e;
}

.user-info-title {
  text-align: center;
  font-size: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.reviews-title {
  font-size: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  opacity: 0.7;
  width: 350px;
  height: 350px;
  border-radius: 0%;
  object-fit: cover;
  border: 3px solid #ffffff;
  margin-bottom: 20px;
}

.user-profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-reviews {
  align-items: center;
  flex-grow: 1;
  max-width: 60%;
  overflow: auto;
}

.user-info-container, .user-reviews {
  flex-grow: 1;
  max-width: 25%;
}

.reviews-list {
  list-style-type: none;
  padding: 0;
  max-height: 430px;
  overflow-y: auto;
}

.review-item {
  border: 1px solid #867272;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #262424;
  border-radius: 5px;
}

.review-item:hover {
  transition: background-color 0.5s ease;
  background-color: #111111;
}

.delete-review-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-review-button:hover {
  transition: background-color 0.2s ease;
  background-color: rgb(88, 4, 4);
}

.edit-review-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(21, 95, 244);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.edit-review-button:hover {
  transition: background-color 0.2s ease;
  background-color: rgb(2, 0, 139);
}