@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html, body { 
  min-height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.668);
  z-index: -1; /* Overlay is behind other content */
}

body {
  background-image: url('./images/GamerScape Background.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  margin-left: 0px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#app-title {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  color: transparent; 
  -webkit-text-stroke: 2px rgba(199, 65, 7, 0.484); /* Apply a stroke with a slight blur */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f0f0f0;
  padding: 20px 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  font-size: 1.5em;
  
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

nav a:hover {
  color: #0672ee;
}

#games-list-title{
  margin-bottom: 60px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.game-info-container {
  background-color: #000000c5;
  padding: 10px;
  margin-top: -10px;
  width: 100%;
}

.game-card {
  max-width: 350px;
  max-height: 450px;
  min-width: 350px;
  min-height: 450px;
  margin: 90px;
  border-radius: 10px;
  position: relative;
}

.game-title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.game-placeholder {
  max-width: 350px;
  max-height: 450px;
  min-width: 350px;
  min-height: 450px;
  background-color: rgb(44, 42, 42);
  color: white;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  border: 4px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  backdrop-filter: blur(5px);
  max-width: 600px;
  margin: auto;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  color: rgb(192, 58, 13);
}

#login-container input {
  opacity: 0.8; 
  background-color: rgba(7, 7, 7, 0.8);
  margin: 5px 0;
  padding: 5px;
}

#login-title{
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
  font-size: 60px;
  position: relative;
  top: -35px;
}

#login-button{
  font-size: 23px;
  background-color: #d84b05;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 1em;
  padding: 10px 10px;
  border: 2px solid;
  border-color: #f30602;
  color: rgb(7, 7, 7);
}

#login-button:hover {
  background-color: rgb(121, 39, 14);
  transform: scale(1.05);
  cursor: pointer;
}

#login-button:active {
  background-color: #2a2c2e;
  transform: scale(1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#signup-text{
  font-size: 17px;
  text-decoration: none;
}